body,.crimeChoose, .datepicker-day-button {
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Rock Salt', cursive;
    font-family: 'Black Ops One', cursive;
    background-color: rgb(216, 215, 215);
}
#header {
    background-color: rgb(22, 22, 155);
   

}
.crime {
    background-color: rgb(22, 22, 155);
}
h1 {
    font-size: 35px;
    float: left;
    color: yellow;
}
img {
    float: right;
}

h2 {
    color: yellow;
    font-size: 20px;
    float: left;
    margin-top: -1%;
}


img {
    float: right;
}

#sheriff{
margin-bottom: 2%;
}

.page-footer {
    background-color: rgb(22, 22, 155);
}

#map {
    height: 340px;
}
#stats {
    background-color: rgb(22, 22, 155);
    color: white;
}

#userInput {
    margin-left: 1%;
    background-color: rgb(22, 22, 155);
}
.datepicker-date-display {
    background-color: rgb(22, 22, 155);
}
.btn-flat {
    color: rgb(22, 22, 155);
}
